<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Pirates</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="main-nav">
    <a href="/">Головна</a>
    <a href="/about">Про команду</a>
    <a href="/services">Послуги</a>
    <a href="/portfolio">Портфоліо</a>
</nav>
    <main class="hero">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Pixel Pirates Logo" class="logo">
        <p class="tagline">CODE. HACK. BUILD.</p>
        <a href="#" class="cta-button">Обговорити проєкт</a>
    </main>

</body>
</html>