<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }} - Pixel Pirates</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="main-nav">
        <a href="/">Головна</a>
        <a href="/about">Про команду</a>
        <a href="/services">Послуги</a>
        <a href="/portfolio">Портфоліо</a>
    </nav>

    <div class="project-detail-section">
        <h1 class="page-title">{{ project.title }}</h1>
        <p class="project-category-detail">{{ project.category }}</p>
        <img class="project-image-detail" src="{{ url_for('static', filename='images/' + project.image_filename) }}" alt="Зображення проєкту {{ project.title }}">
        <div class="project-description-detail">
            <p>{{ project.description }}</p>
        </div>
    </div>

</body>
</html>